/package-info.class
/Distance.class
/Harmonicenumber.class
/Evenodd.class
/flipcoin.class
/dynamicsarray.class
/laragenumber.class
/primerfact.class
/Leafyear.class
/Quadratic.class
/triplets.class
/swapnumber.class
/Twopowertable.class
/QuotientRemainder.class
/VowelConso.class
/windchill.class
